<app-search></app-search>
<app-tag></app-tag>
<app-not-found [visible]="!foods || foods.length<=0" resetLinkText="Reset Search"></app-not-found>
<ul>
    <li *ngFor="let foodItem of foods">
        <a routerLink="/food/{{foodItem.id}}">
            <img src= {{foodItem.imageUrl}} alt="food images">
        </a>
        <div class="content">
            <div class="name">
                {{foodItem.name}}
            </div>
            <span *ngIf="foodItem.favorite" >❤️</span>
            <span *ngIf="!foodItem.favorite">🤍</span>
            
            <div class="product-item-footer">
                <div class="origins">
                    <span *ngFor="let origin of foodItem.origins">
                        {{origin}}
                    </span>
                </div>
            </div>
            <div class="time">🕑 {{foodItem.cookTime}}</div>
            <div class="price">$  {{foodItem.price}}</div>
        </div>
    
    </li>
</ul>